@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'DVN-TitanOne';
  src: url('../assets/fonts/DVN-TitanOne.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  @apply font-titanone;
}
